.hero {
  position: relative;

  min-height: 845px;
  display: flex;
  align-items: center;
  @include image-set('../img/hero-bg');
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(62.11deg, rgba(0, 0, 0, 0.8) 17.3%, rgba(0, 0, 0, 0.584) 40.51%, rgba(0, 0, 0, 0) 62.52%);
    pointer-events: none;
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__wrapper {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    grid-column: 7 span;

    color: var(--light);
  }

  &__offer {
    margin-bottom: 32px;
  }
}

@media (max-width: 1080px) {
  .hero {
    min-height: 600px;

    &__container {
      display: block;
    }

    &__title {
      max-width: 530px;

      font-size: 53px;
      line-height: 110%;
    }

    &__offer {
      font-size: 20px;
      line-height: 23px;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    padding-bottom: 36px;
    min-height: 510px;
    align-items: flex-end;

    &__title {
      max-width: 340px;

      font-size: 32px;
      line-height: 110%;
    }

    &__offer {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    @include image-set('../img/hero-bg-480');
  }
}
