.modal-phone {

  &__container {
    max-width: 500px;
    padding: 32px 16px;

    background-color: var(--grey-700);
  }

  &__btn-close {
    top: 32px;
    right: 16px;

    width: 42px;
    height: 42px;

    background: url(../img/burger-close.svg);
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;

    color: white;
  }

  &__logo-wrapper {
    margin-bottom: 25px;
  }

  &__clock {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    & svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }

  &__desc {
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-200);
  }

  &__tel {
    margin-bottom: 24px;

    font-weight: 600;

    & svg {
      margin-right: 10px;
    }
  }
}
