.profitable {
  padding: var(--section-p);

  &__text-wrapper {
    padding-top: 86px;
    padding-bottom: 64px;
    margin-bottom: 40px;

    background-image: url('../img/profitable-main-emoji.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    max-width: 470px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 367px 1fr;
    gap: 30px;
  }

  &__desc {
    margin-bottom: 24px;
  }

  &__img-wrapper {
    font-size: 0;
  }
}

.profitable__card {
  padding: 24px 40px;

  background: #E9E9E9;
  border-radius: 16px;

  &-top {
    display: flex;
    align-items: center;

    & picture {
      flex: 0 0 auto;
    }

    &--left {
      flex-direction: row-reverse;

      & img {
        position: relative;
      }
    }
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &-title {
    margin: 0;
    margin-right: -48px;
    padding: 6px 8px;
    padding-right: 54px;

    font-family: 'Inter';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #007ACC;
    border-radius: 8px;

    &--left {
      margin-right: 0;
      margin-left: -48px;
      padding-right: 8px;
      padding-left: 54px;
    }
  }

  &-desc {
    margin: 0;
    max-width: 256px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--grey-800);
  }
}

@media(max-width: 830px) {
  .profitable {

    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__text-wrapper {
      padding-top: 46px;
      padding-bottom: 24px;
    }

    &__title {
      max-width: 200px;
    }

    &__col {
      display: flex;
      flex-direction: column;
    }

    &__card {
      max-width: 367px;
      margin: 0 auto;
    }

    &__img-wrapper {
      align-self: center;
    }
  }
}

@media(max-width: 830px) {
  .profitable__card {
    padding: 12px 24px;

    &-title {
      font-size: 14px;
    }
  }
}
