.worker {
  padding: var(--section-p);

  &__container {
    padding: 40px;
    display: flex;

    background-color: var(--grey-100);
    border-radius: 16px;
  }

  &__left-wrapper {
    margin-right: 40px;
    flex: 0 1 640px;
    align-self: center;
  }

  &__content-list {
    position: relative;

    flex: 0 1 395px;
    min-height: 515px;
  }

  &__content-item {
    position: absolute;
  }

  &__desc {
    margin-bottom: 32px;
    max-width: 515px;
  }

  &__target-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    gap: 10px;
  }

  &__replace {
    display: none;
  }
}

.worker-btn {
  padding: 5px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;

  transition: background .2s ease-in-out;

  &:hover {
    background-color: #fff;

    & .worker-btn__name {
      color: var(--grey-800);
    }
  }

  &--active {
    background-color: var(--accient-blue);

    & .worker-btn__name {
      color: #fff;
    }

    &:hover {
      background-color: var(--light-blue);

      & .worker-btn__name {
        color: #fff;
      }
    }
  }

  &__img-wrapper {
    margin-bottom: 5px;
    width: 69px;
    height: 69px;

    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 13.355px;
    line-height: 16px;
    text-align: center;
    color: var(--grey-800);

    transition: color .2s ease-in-out;
  }
}

.card-worker {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity .2s ease-in-out;

  &--active {
    opacity: 1;
    pointer-events: auto;
  }

  &__img-wrapper {
    height: 330px;

    font-size: 0;

    border-radius: 8px;
    overflow: hidden;

    & img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-wrapper {
    padding: 14px 16px;

    color: var(--grey-800);
  }

  &__top-wrapper {
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding-right: 10px;

    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__experience {
    padding: 4px 8px;
    display: flex;

    background-color: var(--accient-blue);
    border-radius: 8px;

    &-icon {
      margin-right: 8px;
      width: 18px;
      height: 18px;
    }

    &-value {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
    }
  }

  &__subtitle {
    margin-bottom: 8px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

@media(max-width: 980px) {
  .worker {

    &__container {
      padding: 16px;
    }

    &__content-list {
      min-height: 478px;
    }

    &__left-wrapper {
      margin-right: 10px;
    }

    &__target-list {
      gap: 5px;
    }
  }

  .card-worker {

    &__title {
      font-size: 16px;
      line-height: 18px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 14px;
    }

    &__desc {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

@media(max-width: 768px) {
  .worker {

    &__container {
      flex-direction: column-reverse;
    }

    &__left-wrapper {
      margin-right: 0;
      width: 100%;
      flex: 0 1 auto;
      display: block;
      overflow: visible;
    }

    &__target-list {
      display: flex;
    }

    &__target-item {
      width: 80px;
    }

    &__content-list {
      flex: 0 1 auto;
      max-width: 395px;
      width: 100%;
      min-height: 490px;
      align-self: center;
    }

    &__title--desktop,
    &__desc--desktop {
      display: none;
    }

    &__desc {
      margin-bottom: 16px;
    }

    &__replace {
      display: block;
    }
  }
}
