<section class="beside">
  <div class="container beside__container">
    <div class="beside__wrapper">
      <div class="beside__col1">
        <h2 class="beside__title main-title main-title--balck">Найди ближайший Barber point</h2>
        <p class="beside__desc main-desc main-desc--balck">3 филиала для обучения</p>
        <button class="beside__btn-main beside__btn-main--desktop main-btn btn-reset main-btn--color">
          Получить пробное занятие
        </button>
        <button class="beside__btn-whatsapp beside__btn-whatsapp--desktop main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
          <svg class="icon">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
          Написать в Whatsapp
        </button>
      </div>
      <div class="beside__col2">
        <div id="map" class="beside__map"></div>
      </div>
      <button class="beside__btn-main beside__btn-main--mobile main-btn btn-reset main-btn--color">
        Получить пробное занятие
      </button>
      <button class="beside__btn-whatsapp beside__btn-whatsapp--mobile main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#whatsapp"></use>
        </svg>
        Написать в Whatsapp
      </button>
    </div>
  </div>
</section>
