<section class="gallery">
  <div class="container gallery__container--reviews">
    <h2 class="gallery__title main-title main-title--white">#ОТЗЫВЫУЧЕНИКОВ</h2>
    <p class="gallery__desc main-desc main-desc--white">Реальные отзывы - реальных учеников!</p>
    <div class="swiper gallery__swiper swiper-gallery">
      <div class="swiper-wrapper swiper-gallery__wrapper">
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-reviews/1.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-reviews/1.jpeg" class="image" width="530" height="741" alt="Отзыв выпускника Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-reviews/2.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-reviews/2.jpeg" class="image" width="530" height="741" alt="Отзыв выпускника Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-reviews/1.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-reviews/1.jpeg" class="image" width="530" height="741" alt="Отзыв выпускника Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-reviews/2.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-reviews/2.jpeg" class="image" width="530" height="741" alt="Отзыв выпускника Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-reviews/1.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-reviews/1.jpeg" class="image" width="530" height="741" alt="Отзыв выпускника Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-reviews/2.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-reviews/2.jpeg" class="image" width="530" height="741" alt="Отзыв выпускника Barber Point">
          </picture>
        </div>
      </div>
      <div class="swiper-gallery__nav-wrapper swiper-gallery__nav-wrapper--reviews">
        <div class="swiper-button-prev swiper-gallery__btn-prev swiper-truth__btn"></div>
        <div class="swiper-pagination swiper-gallery__pagination"></div>
        <div class="swiper-button-next swiper-gallery__btn-next swiper-truth__btn swiper-truth__btn--next"></div>
      </div>
    </div>
  </div>
</section>
