<section class="gallery">
  <div class="container gallery__container">
    <h2 class="gallery__title main-title main-title--black">Наши выпускники</h2>
    <p class="gallery__desc main-desc main-desc--black">Многие из них - уже барберы сети Barber point!</p>
    <div class="swiper gallery__swiper swiper-gallery">
      <div class="swiper-wrapper swiper-gallery__wrapper">
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-gallery/1.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-gallery/1.jpeg" class="image" width="530" height="741" alt="Выпускник Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-gallery/2.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-gallery/2.jpeg" class="image" width="530" height="741" alt="Выпускник Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-gallery/1.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-gallery/1.jpeg" class="image" width="530" height="741" alt="Выпускник Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-gallery/2.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-gallery/2.jpeg" class="image" width="530" height="741" alt="Выпускник Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-gallery/1.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-gallery/1.jpeg" class="image" width="530" height="741" alt="Выпускник Barber Point">
          </picture>
        </div>
        <div class="swiper-slide swiper-gallery__slide">
          <picture>
            <source srcset="img/swiper-gallery/2.webp" type="image/webp">
            <img loading="lazy" src="img/swiper-gallery/2.jpeg" class="image" width="530" height="741" alt="Выпускник Barber Point">
          </picture>
        </div>
      </div>
      <div class="swiper-gallery__nav-wrapper">
        <div class="swiper-button-prev swiper-gallery__btn-prev swiper-truth__btn"></div>
        <div class="swiper-pagination swiper-gallery__pagination"></div>
        <div class="swiper-button-next swiper-gallery__btn-next swiper-truth__btn swiper-truth__btn--next"></div>
      </div>
    </div>
  </div>
</section>
