<div class="graph-modal modal-phone">
  <div class="graph-modal__container modal-phone__container" role="dialog" aria-modal="true" data-graph-target="modal-phone">
    <button class="btn-reset js-modal-close graph-modal__close modal-phone__btn-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-phone__content">
      <div class="modal-phone__logo-wrapper">
        <img loading="lazy" src="img/logo.svg" class="image" width="158" height="32" alt="Логотип Barber Point">
      </div>
      <div class="modal-phone__clock">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_252_116926)">
            <path d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 4.5V9L12 10.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
            <clipPath id="clip0_252_116926">
              <rect width="18" height="18" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <span>Ежедневно 10:00-22:00</span>
      </div>
      <div class="modal-phone__desc">Горячая линия</div>
      <a class="modal-phone__tel main-btn main-btn--color" href="tel:+78612050845">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        8 (861) 205-08-45
      </a>
      <div class="modal-phone__desc">Связаться с филиалом в Краснодаре</div>
      <div id="accordion-modal-phone" class="modal-phone__accordion sg-accordion sg-accordion--modal">
        <div class="sg-accordion__wrapper sg-accordion__wrapper--open">
          <button class="sg-accordion__header btn-reset sg-accordion__header--open">
            <h3 class="sg-accordion__title sg-accordion__title--modal">ул. Артюшкова 1.</h3>
            <svg class="sg-accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
            </svg>
          </button>
          <div class="sg-accordion__content" style="max-height: 76px;">
            <a href="https://wa.me/+79649194284" class="sg-accordion__btn main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
              +7 (964) 919-42-84
            </a>
          </div>
        </div>
        <div class="sg-accordion__wrapper">
          <button class="sg-accordion__header btn-reset">
            <h3 class="sg-accordion__title sg-accordion__title--modal">ул. 40 Лет Победы 97.</h3>
            <svg class="sg-accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
            </svg>
          </button>
          <div class="sg-accordion__content">
            <a href="https://wa.me/+79649063486" class="sg-accordion__btn main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
              +7 (964) 906-34-86
            </a>
          </div>
        </div>
        <div class="sg-accordion__wrapper">
          <button class="sg-accordion__header btn-reset">
            <h3 class="sg-accordion__title sg-accordion__title--modal">ул. Петра Метальникова 7.</h3>
            <svg class="sg-accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
            </svg>
          </button>
          <div class="sg-accordion__content">
            <a href="https://wa.me/+79615310897" class="sg-accordion__btn main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
              +7 (961) 531-08-97
            </a>
          </div>
        </div>
        <div class="sg-accordion__wrapper">
          <button class="sg-accordion__header btn-reset">
            <h3 class="sg-accordion__title sg-accordion__title--modal">ул. Адм. Серебрякова 3к1.</h3>
            <svg class="sg-accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
            </svg>
          </button>
          <div class="sg-accordion__content">
            <a href="https://wa.me/+79384836082" class="sg-accordion__btn main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
              +7 (938) 483-60-82
            </a>
          </div>
        </div>
        <div class="sg-accordion__wrapper">
          <button class="sg-accordion__header btn-reset">
            <h3 class="sg-accordion__title sg-accordion__title--modal">ул. Гидростроителей 62к2.</h3>
            <svg class="sg-accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
            </svg>
          </button>
          <div class="sg-accordion__content">
            <a href="https://wa.me/+79649032825" class="sg-accordion__btn main-btn btn-reset main-btn--whatsapp" aria-label="Whatsapp" data-graph-path="modal-phone">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
              +7 (964) 9032825
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
