<div class="graph-modal modal-form">
  <div class="graph-modal__container modal-form__container" role="dialog" aria-modal="true" data-graph-target="modal-form">
    <button class="btn-reset js-modal-close graph-modal__close modal-form__btn-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-form__content">
      <div class="modal-form__logo-wrapper">
        <img loading="lazy" src="img/logo.svg" class="image" width="158" height="32" alt="Логотип Barber Point">
      </div>
    </div>
  </div>
</div>
