<section class="persuade">
  <div class="container persuade__container">
    <div class="persuade__text-wrapper">
      <h2 class="persuade__title main-title main-title--white">Получи профессию, которая никогда не устареет</h2>
      <p class="persuade__desc main-desc main-desc--white">В Краснодаре уже более 230 барбершопов, а хороших специалистов постоянно не хватает</p>
    </div>
    <div class="persuade__img-wrapper">
      <picture>
        <source media="(max-width: 480px)" srcset="img/persuade-main-480.webp">
        <source media="(max-width: 480px)" srcset="img/persuade-main-480.jpeg">
        <source srcset="img/persuade-main.webp" type="image/webp">
        <img loading="lazy" src="img/persuade-main.jpeg" class="image" width="1170" height="490" alt="Рабочая зона барбера">
      </picture>
    </div>
  </div>
</section>
