<section class="profitable">
  <div class="container profitable__container">
    <div class="profitable__text-wrapper">
      <h2 class="profitable__title main-title main-title--white">Программа обучения</h2>
    </div>
    <div class="profitable__wrapper">
      <div class="profitable__col">
        <div class="profitable__card">
          <ul class="profitable__card-list list-reset">
            <li class="profitable__card-item">
              <div class="profitable__card-top">
                <h3 class="profitable__card-title">Гарантированно научим стричь</h3>
                <picture>
                  <source srcset="img/profitable-emoji-1.webp" type="image/webp">
                  <img loading="lazy" src="img/profitable-emoji-1.png" class="image" width="81" height="81" alt="Улыбающийся смайлик">
                </picture>
              </div>
              <p class="profitable__card-desc">
                Будем учить, пока не выучим. Программа не закончится, пока ты не усвоишь весь материал.
              </p>
            </li>
            <li class="profitable__card-item">
              <div class="profitable__card-top profitable__card-top--left">
                <h3 class="profitable__card-title profitable__card-title--left">Предоставляем всё необходимое</h3>
                <picture>
                  <source srcset="img/profitable-emoji-2.webp" type="image/webp">
                  <img loading="lazy" src="img/profitable-emoji-2.png" class="image" width="81" height="81" alt="Улыбающийся смайлик">
                </picture>
              </div>
              <p class="profitable__card-desc">
                Во время обучения ты будешь обеспечен всеми нужными инструментами и средствами.
              </p>
            </li>
            <li class="profitable__card-item">
              <div class="profitable__card-top">
                <h3 class="profitable__card-title">Удобное время для учёбы</h3>
                <picture>
                  <source srcset="img/profitable-emoji-3.webp" type="image/webp">
                  <img loading="lazy" src="img/profitable-emoji-3.png" class="image" width="81" height="81" alt="Улыбающийся смайлик">
                </picture>
              </div>
              <p class="profitable__card-desc">
                Подберём для тебя график, чтобы учиться было удобно!
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="profitable__col">
        <div id="accordion-profitable" class="profitable__accordion sg-accordion">
          <div class="sg-accordion__wrapper sg-accordion__wrapper--open">
            <button class="sg-accordion__header btn-reset sg-accordion__header--open">
              <h3 class="sg-accordion__title">Теория</h3>
              <svg class="sg-accordion__icon">
                <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
              </svg>
            </button>
            <div class="sg-accordion__content">
              <p class="sg-accordion__text sg-accordion__text--list">
                Теоретическая часть построена в 7 модулях.
              </p>
              <ul class="sg-accordion__list">
                <li class="sg-accordion__item">Введение в профессию</li>
                <li class="sg-accordion__item">Инструменты и приспособления</li>
                <li class="sg-accordion__item">Стрижка волос</li>
                <li class="sg-accordion__item">Укладка, стайлинг и мытье волос</li>
                <li class="sg-accordion__item">Моделирование бороды и королевское бритье</li>
                <li class="sg-accordion__item">Колористика</li>
                <li class="sg-accordion__item">Этика общение и санитарные нормы</li>
              </ul>
            </div>
          </div>
          <div class="sg-accordion__wrapper">
            <button class="sg-accordion__header btn-reset">
              <h3 class="sg-accordion__title">Отработка на манекене</h3>
              <svg class="sg-accordion__icon">
                <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
              </svg>
            </button>
            <div class="sg-accordion__content">
              <p class="sg-accordion__text">
                Чтобы набраться уверенности перед стрижкой на моделях наши ученики сначала отстригают манекен с натуральными волосами. На нём ученики отрабатывают все виды стрижек - начиная от самых длинных, заканчивая выбритыми висками. Так же на манекене отрабатывается колористика и моделирование бороды. Стрижка манекена помогает отработать более 20 видов стрижек. Не только популярные "фейды", но и классические, удлинённые формы.
              </p>
            </div>
          </div>
          <div class="sg-accordion__wrapper">
            <button class="sg-accordion__header btn-reset">
              <h3 class="sg-accordion__title">Стрижка моделей</h3>
              <svg class="sg-accordion__icon">
                <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
              </svg>
            </button>
            <div class="sg-accordion__content">
              <p class="sg-accordion__text">
                После стрижки манекена отработка навыков на моделях даётся намного легче. В зависимости от выбранного курса мы предоставляем минимально от 30 до 40 моделей. На время обучения мы даём в пользование весь инструмент. На моделях отрабатывается техника исполнения и скорость. Умение подобрать стрижку к форме лица, качеству волос - продать свой навык барбера.
              </p>
            </div>
          </div>
          <div class="sg-accordion__wrapper">
            <button class="sg-accordion__header btn-reset">
              <h3 class="sg-accordion__title">Экзамен и сертификат</h3>
              <svg class="sg-accordion__icon">
                <use xlink:href="img/sprite.svg#arrow-sg-accordion"></use>
              </svg>
            </button>
            <div class="sg-accordion__content">
              <p class="sg-accordion__text">
                Экзамен состоит из двух частей - теория письменно и самостоятельная стрижка. По окончанию курса выдаём именной сертификат.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
