<section class="simply">
  <div class="container simply__container">
    <div class="simply__wrapper">
      <div class="simply__text-wrapper">
        <h2 class="simply__title main-title main-title--black">Школа Barber point - это</h2>
        <ul class="list-reset simply__list">
          <li class="simply__item">
            <h3 class="simply__sumtitle">Гарантия трудоустройства</h3>
            <p class="simply__desc">Устроим на работу после прохождения курса</p>
          </li>
          <li class="simply__item">
            <h3 class="simply__sumtitle">Индивидуальное обучение</h3>
            <p class="simply__desc">Группы до 2-х человек. Постоянное внимание преподователя и моментальная обратная связь</p>
          </li>
          <li class="simply__item">
            <h3 class="simply__sumtitle">Именной Сертификат</h3>
            <p class="simply__desc">По окончанию обучения выдаём именной сертификат школы Barberpoint</p>
          </li>
        </ul>
      </div>
      <div class="simply__img-wrapper">
        <picture>
          <source srcset="img/simply-main.webp" type="image/webp">
          <img loading="lazy" src="img/simply-main.jpeg" class="image" width="620" height="398" alt="Мужчина в кресле барбершопа смотрится в зеркало">
        </picture>
      </div>
    </div>
  </div>
</section>
