<section class="worker">
  <div class="container worker__container">
    <div class="worker__left-wrapper swiper swiper-worker">
      <h2 class="worker__title worker__title--desktop main-title main-title--black">Твои будущие преподаватели</h2>
      <p class="worker__desc worker__desc--desktop main-desc main-desc--black">
        Главная задача учителя - это привить любовь к своей профессии.
      </p>
      <div class="worker__target-list swiper-wrapper">
        <div class="worker__target-item swiper-slide">
          <buttom class="worker__btn btn-reset worker-btn worker-btn--active" data-tabs-target = '1' tabindex="0">
            <div class="worker-btn__img-wrapper">
              <picture>
                <source srcset="img/worker1.webp" type="image/webp">
                <img loading="lazy" src="img/worker1.jpg" class="image" width="69" height="69" alt="Эдуард Подгорный, шеф-барбер сети Barber Point">
              </picture>
            </div>
            <div class="worker-btn__name">Эдуард</div>
          </buttom>
        </div>
        <div class="worker__target-item swiper-slide">
          <buttom class="worker__btn btn-reset worker-btn" data-tabs-target = '2' tabindex="0">
            <div class="worker-btn__img-wrapper">
              <picture>
                <source srcset="img/worker2.webp" type="image/webp">
                <img loading="lazy" src="img/worker2.jpg" class="image" width="69" height="69" alt="Артём, барбер сети Barber Point">
              </picture>
            </div>
            <div class="worker-btn__name">Артём</div>
          </buttom>
        </div>
        <div class="worker__target-item swiper-slide">
          <buttom class="worker__btn btn-reset worker-btn" data-tabs-target = '4' tabindex="0">
            <div class="worker-btn__img-wrapper">
              <picture>
                <source srcset="img/worker4.webp" type="image/webp">
                <img loading="lazy" src="img/worker4.jpg" class="image" width="69" height="69" alt="Александр, барбер сети Barber Point">
              </picture>
            </div>
            <div class="worker-btn__name">Александр</div>
          </buttom>
        </div>
      </div>
    </div>
    <ul class="worker__content-list list-reset">
      <li class="worker__content-item card-worker card-worker--active" data-tabs-content = '1'>
        <div class="card-worker__img-wrapper">
          <picture>
            <source srcset="img/worker1.webp" type="image/webp">
            <img loading="lazy" src="img/worker1.jpg" class="image" width="395" height="330" alt="Эдуард Подгорный, шеф-барбер сети Barber Point">
          </picture>
        </div>
        <div class="card-worker__content-wrapper">
          <div class="card-worker__top-wrapper">
            <h3 class="card-worker__title">Эдуард</h3>
            <div class="card-worker__experience">
              <svg class="card-worker__experience-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 6.75C5.74264 6.75 6.75 5.74264 6.75 4.5C6.75 3.25736 5.74264 2.25 4.5 2.25C3.25736 2.25 2.25 3.25736 2.25 4.5C2.25 5.74264 3.25736 6.75 4.5 6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.5 15.75C5.74264 15.75 6.75 14.7426 6.75 13.5C6.75 12.2574 5.74264 11.25 4.5 11.25C3.25736 11.25 2.25 12.2574 2.25 13.5C2.25 14.7426 3.25736 15.75 4.5 15.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0001 3L6.09009 11.91" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.8525 10.8601L15 15.0001" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.09009 6.09009L9.00009 9.00009" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="card-worker__experience-value">c 1993 года</div>
            </div>
          </div>
          <div class="card-worker__subtitle">Шеф-барбер</div>
          <div class="card-worker__desc">
            Эдуард Подгорный, он же Санта Эд, он же мастер-шеф, он же старший Барбер. Многогранная и творческая натура. Харизматичный мастер. Стрижёт всю сознательную жизнь.
          </div>
        </div>
      </li>
      <li class="worker__content-item card-worker" data-tabs-content = '2'>
        <div class="card-worker__img-wrapper">
          <picture>
            <source srcset="img/worker2.webp" type="image/webp">
            <img loading="lazy" src="img/worker2.jpg" class="image" width="395" height="330" alt="Артём, барбер сети Barber Point">
          </picture>
        </div>
        <div class="card-worker__content-wrapper">
          <div class="card-worker__top-wrapper">
            <h3 class="card-worker__title">Артём</h3>
            <div class="card-worker__experience">
              <svg class="card-worker__experience-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 6.75C5.74264 6.75 6.75 5.74264 6.75 4.5C6.75 3.25736 5.74264 2.25 4.5 2.25C3.25736 2.25 2.25 3.25736 2.25 4.5C2.25 5.74264 3.25736 6.75 4.5 6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.5 15.75C5.74264 15.75 6.75 14.7426 6.75 13.5C6.75 12.2574 5.74264 11.25 4.5 11.25C3.25736 11.25 2.25 12.2574 2.25 13.5C2.25 14.7426 3.25736 15.75 4.5 15.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0001 3L6.09009 11.91" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.8525 10.8601L15 15.0001" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.09009 6.09009L9.00009 9.00009" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="card-worker__experience-value">с 2019 года</div>
            </div>
          </div>
          <div class="card-worker__subtitle">Старший-барбер</div>
          <div class="card-worker__desc">
            Эдуард Подгорный, он же Санта Эд, он же мастер-шеф, он же старший Барбер. Многогранная и творческая натура. Харизматичный мастер. Стрижёт всю сознательную жизнь.
          </div>
        </div>
      </li>
      <li class="worker__content-item card-worker" data-tabs-content = '4'>
        <div class="card-worker__img-wrapper">
          <picture>
            <source srcset="img/worker4.webp" type="image/webp">
            <img loading="lazy" src="img/worker4.jpg" class="image" width="395" height="330" alt="Александр, барбер сети Barber Point">
          </picture>
        </div>
        <div class="card-worker__content-wrapper">
          <div class="card-worker__top-wrapper">
            <h3 class="card-worker__title">Александр</h3>
            <div class="card-worker__experience">
              <svg class="card-worker__experience-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 6.75C5.74264 6.75 6.75 5.74264 6.75 4.5C6.75 3.25736 5.74264 2.25 4.5 2.25C3.25736 2.25 2.25 3.25736 2.25 4.5C2.25 5.74264 3.25736 6.75 4.5 6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.5 15.75C5.74264 15.75 6.75 14.7426 6.75 13.5C6.75 12.2574 5.74264 11.25 4.5 11.25C3.25736 11.25 2.25 12.2574 2.25 13.5C2.25 14.7426 3.25736 15.75 4.5 15.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0001 3L6.09009 11.91" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.8525 10.8601L15 15.0001" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.09009 6.09009L9.00009 9.00009" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="card-worker__experience-value">с 2017 года</div>
            </div>
          </div>
          <div class="card-worker__subtitle">Старший-барбер</div>
          <div class="card-worker__desc">
            Эдуард Подгорный, он же Санта Эд, он же мастер-шеф, он же старший Барбер. Многогранная и творческая натура. Харизматичный мастер. Стрижёт всю сознательную жизнь.
          </div>
        </div>
      </li>
    </ul>
    <div class="worker__replace">
      <div class="worker__title main-title main-title--black">Твои будущие преподаватели</div>
      <p class="worker__desc main-desc main-desc--black">
        Главная задача учителя - это привить любовь к своей профессии.
      </p>
    </div>
  </div>
</section>
